<%= form_with(model: sake, local: true) do |form| %>

  <!-- error message -->
  <% if sake.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(sake.errors.count, "error") %>
        prohibited this sake from being saved:
      </h2>
      <ul>
        <% sake.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- form -->
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :kura %>
    <%= form.text_field :kura %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field">
    <%= form.label :bindume_date %>
    <%= form.datetime_select :bindume_date %>
  </div>

  <div class="field">
    <%= form.label :brew_year %>
    <%= form.datetime_select :brew_year %>
  </div>

  <div class="field">
    <%= form.label :todofuken %>
    <%= form.text_field :todofuken %>
  </div>

  <div class="field">
    <%= form.label :taste_value %>
    <%= form.number_field :taste_value %>
  </div>

  <div class="field">
    <%= form.label :aroma_value %>
    <%= form.number_field :aroma_value %>
  </div>

  <div class="field">
    <%= form.label :nihonshudo %>
    <%= form.number_field :nihonshudo %>
  </div>

  <div class="field">
    <%= form.label :sando %>
    <%= form.number_field :sando %>
  </div>

  <div class="field">
    <%= form.label :aroma_impression %>
    <%= form.text_area :aroma_impression %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :taste_impression %>
    <%= form.text_area :taste_impression %>
  </div>

  <div class="field">
    <%= form.label :hiire_state %>
    <%= form.select :hiire_state, Sake.hiire_states_i18n.keys.map{|k| [I18n.t("enums.sake.hiire_state.#{k}"),k]} %>
  </div>

  <div class="field">
    <%= form.label :nigori %>
    <%= form.text_field :nigori %>
  </div>

  <div class="field">
    <%= form.label :awa %>
    <%= form.text_field :awa %>
  </div>

  <div class="field">
    <%= form.label :tokutei_meisho %>
    <%= form.select :tokutei_meisho, Sake.tokutei_meishos_i18n.keys.map{|k| [I18n.t("enums.sake.tokutei_meisho.#{k}"),k]} %>
  </div>

  <div class="field">
    <%= form.label :genryoumai %>
    <%= form.text_field :genryoumai %>
  </div>

  <div class="field">
    <%= form.label :kakemai %>
    <%= form.text_field :kakemai %>
  </div>

  <div class="field">
    <%= form.label :koubo %>
    <%= form.text_field :koubo %>
  </div>

  <div class="field">
    <%= form.label :alcohol %>
    <%= form.number_field :alcohol %>
  </div>

  <div class="field">
    <%= form.label :aminosando %>
    <%= form.number_field :aminosando %>
  </div>

  <div class="field">
    <%= form.label :season %>
    <%= form.text_field :season %>
  </div>

  <div class="field">
    <%= form.label :is_genshu %>
    <%= form.check_box :is_genshu %>
  </div>

  <div class="field">
    <%= form.label :moto %>
    <%= form.select :moto, Sake.motos_i18n.keys.map{|k| [I18n.t("enums.sake.moto.#{k}"),k]} %>
  </div>

  <div class="field">
    <%= form.label :seimai_buai %>
    <%= form.number_field :seimai_buai %>
  </div>

  <div class="field">
    <%= form.label :roka %>
    <%= form.text_field :roka %>
  </div>

  <div class="field">
    <%= form.label :shibori %>
    <%= form.text_field :shibori %>
  </div>

  <div class="field">
    <%= form.label :bottle_state %>
    <%= form.select :bottle_state, Sake.bottle_states_i18n.keys.map{|k| [I18n.t("enums.sake.bottle_state.#{k}"),k]} %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
