<div class="accordion-item">
  <h2 class="accordion-header" id="headingDetail">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseDetail" aria-expanded="false" aria-controls="collapseDetail"
      data-testid="accordion_detail">
      <%= t(".detail") %>
    </button>
  </h2>
  <div id="collapseDetail" class="accordion-collapse collapse"
    aria-labelledby="headingDetail" data-bs-parent="#accordionDetail">
    <div class="accordion-body">
      <div class="row row-cols-1 g-4 row-cols-lg-3">
        <fieldset class="col">
          <legend class="mb-0">
            <%= t(".ingredient") %>
          </legend>
          <div class="row g-2">
            <div class="col-12">
              <%= form.label(:genryomai, class: "form-label") %>
              <%= form.text_field(:genryomai,
                                  class: "form-control",
                                  autocomplete: "on",
                                  list: "sakamai-list",
                                  data: { testid: "sake_genryomai" }) %>
            </div>
            <div class="col-12">
              <%= form.label(:kakemai, class: "form-label") %>
              <%= form.text_field(:kakemai,
                                  class: "form-control",
                                  autocomplete: "on",
                                  list: "sakamai-list",
                                  data: { testid: "sake_kakemai" }) %>
            </div>
            <%= render(partial: "sakamai_datalist") %>
            <div class="col-12">
              <%= form.label(:kobo, class: "form-label") %>
              <%= form.text_field(:kobo, class: "form-control", data: { testid: "sake_kobo" }) %>
            </div>
          </div>
        </fieldset>
        <fieldset class="col">
          <legend class="mb-0">
            <%= t(".method") %>
          </legend>
          <div class="row g-2">
            <div class="col-12">
              <%= form.label(:moto, class: "form-label") %>
              <%= form.select(:moto,
                              Sake.motos_i18n.keys.map { |k|
                                [I18n.t("enums.sake.moto.#{k}"), k]
                              },
                              {},
                              class: "form-select",
                              data: { testid: "sake_moto" }) %>
            </div>
            <div class="col-12">
              <%= form.label(:shibori, class: "form-label") %>
              <%= form.text_field(:shibori,
                                  class: "form-control",
                                  autocomplete: "on",
                                  list: "shibori-list",
                                  data: { testid: "sake_shibori" }) %>
              <datalist id="shibori-list">
                <option value="ヤブタ式"></option>
                <option value="槽搾り"></option>
                <option value="袋吊り"></option>
                <option value="雫取り"></option>
                <option value="斗瓶取り"></option>
                <option value="斗瓶囲い"></option>
                <option value="荒走り"></option>
                <option value="あらばしり"></option>
                <option value="中取り"></option>
                <option value="中垂れ"></option>
                <option value="中汲み"></option>
                <option value="責め"></option>
                <option value="遠心分離"></option>
              </datalist>
            </div>
            <div class="col-12">
              <%= form.label(:roka, class: "form-label") %>
              <%= form.text_field(:roka,
                                  class: "form-control",
                                  autocomplete: "on",
                                  list: "roka-list",
                                  data: { testid: "sake_roka" }) %>
              <datalist id="roka-list">
                <option value="無濾過"></option>
                <option value="素濾過"></option>
              </datalist>
            </div>
            <div class="col-12">
              <%= form.label(:hiire, class: "form-label") %>
              <%= form.select(:hiire,
                              Sake.hiires_i18n.keys.map { |k|
                                [I18n.t("enums.sake.hiire.#{k}"), k]
                              },
                              {},
                              class: "form-select",
                              title: "test",
                              data: { testid: "sake_hiire" }) %>
            </div>
            <div class="col-12">
              <%= form.label(:warimizu, class: "form-label") %>
              <%= form.select(:warimizu,
                              Sake.warimizus_i18n.keys.map { |k|
                                [I18n.t("enums.sake.warimizu.#{k}"), k]
                              },
                              {},
                              class: "form-select",
                              data: { testid: "sake_warimizu" }) %>
            </div>
          </div>
        </fieldset>
        <fieldset class="col">
          <legend class="mb-0">
            <%= t(".measurement") %>
          </legend>
          <div class="row g-2">
            <div class="col-12">
              <%= form.label(:nihonshudo, class: "form-label") %>
              <%= form.number_field(:nihonshudo,
                                    step: "any",
                                    class: "form-control",
                                    data: { testid: "sake_nihonshudo" }) %>
            </div>
            <div class="col-12">
              <%= form.label(:sando, class: "form-label") %>
              <%= form.number_field(:sando,
                                    step: "any",
                                    class: "form-control",
                                    aria: { describedby: "sakeSandoValidationFeedback" },
                                    data: { testid: "sake_sando" }) %>
              <% sake.errors.full_messages_for(:sando).each do |message| %>
                <div id="sakeSandoValidationFeedback" class="invalid-feedback" data-testid="sake_sando_feedback">
                  <%= message %>
                </div>
              <% end %>
            </div>
            <div class="col-12">
              <%= form.label(:aminosando, class: "form-label") %>
              <%= form.number_field(:aminosando,
                                    step: "any",
                                    class: "form-control",
                                    aria: { describedby: "sakeAminosandoValidationFeedback" },
                                    data: { testid: "sake_aminosando" }) %>
              <% sake.errors.full_messages_for(:aminosando).each do |message| %>
                <div id="sakeAminosandoValidationFeedback" class="invalid-feedback" data-testid="sake_aminosando_feedback">
                  <%= message %>
                </div>
              <% end %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
