<div class="accordion-item">
  <h2 class="accordion-header" id="headingAbstract">
    <button class="accordion-button" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseAbstract" aria-expanded="true" aria-controls="collapseAbstract">
      <%= t(".abstract") %>
    </button>
  </h2>
  <div id="collapseAbstract" class="accordion-collapse collapse show"
    aria-labelledby="headingAbstract" role="row"
    data-bs-parent="#accordionAbstract">
    <div class="accordion-body">
      <div class="row row-cols-1 g-4">
        <fieldset class="col">
          <div class="row g-2">
            <div class="col-12 col-lg-6">
              <%= form.label(:photos, class: "form-label") %>
              <%= form.file_field(:photos,
                                  multiple: true,
                                  include_hidden: false,
                                  class: "form-control",
                                  accept: "image/*;capture=camera",
                                  data: { testid: "sake_photos" }) %>
            </div>
            <% if sake.photos.any? %>
              <div class="col-12 form-text">
                <%= t(".select_delete_photo") %>
              </div>
              <div class="col-12">
                <div class="row g-3">
                  <% sake.photos.each do |photo| %>
                    <div class="col-6 col-lg-2">
                      <div class="form-check form-check-inline m-0 p-0 select-delete-photos">
                        <%= check_box_tag(photo.chackbox_name,
                                          "delete",
                                          nil,
                                          class: "form-check-input") %>
                        <label class="form-check-label" for="<%= photo.chackbox_name %>">
                          <%= cl_image_tag(photo.image.thumb.url, class: "img-thumbnail") %>
                        </label>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </fieldset>
        <fieldset class="col">
          <div class="row g-2">
            <div class="col-12">
              <%= form.label(:name, class: "form-label") %>
              <span class="badge bg-primary ms-4"><%= t(".badge.presence") %></span>
              <%= form.text_field(:name,
                                  class: "form-control",
                                  required: true,
                                  data: {
                                    "sake-name-target": "name",
                                    testid: "sake_name",
                                  }) %>
            </div>
            <div class="col-12 col-lg-6" data-controller="sake-kura">
              <label for="sake_kura_todofuken_autocompletion" class="form-label">
                <%= t("activerecord.attributes.sake.kura") %>
              </label>
              <input type="text" id="sake_kura_todofuken_autocompletion"
                class="form-control" autocomplete="on" list="kura-list"
                data-sake-name-target="kura"
                data-sake-kura-target="mixed"
                data-testid="sake_kura_todofuken_autocompletion">
              <%= render(partial: "kura_datalist") %>
              <%= form.text_field(:kura,
                                  hidden: true,
                                  data: {
                                    "sake-kura-target": "kura",
                                    testid: "sake_kura",
                                  }) %>
              <%= form.text_field(:todofuken,
                                  hidden: true,
                                  data: {
                                    "sake-kura-target": "todofuken",
                                    testid: "sake_todofuken",
                                  }) %>
            </div>
          </div>
        </fieldset>
        <fieldset class="col">
          <div class="row g-2 gx-3">
            <div class="col-12 col-lg-3">
              <%= form.label(:tokutei_meisho, class: "form-label") %>
              <%= form.select(:tokutei_meisho,
                              Sake.tokutei_meishos_i18n.keys.map { |k|
                                [I18n.t("enums.sake.tokutei_meisho.#{k}"), k]
                              },
                              {},
                              class: "form-select",
                              data: {
                                "sake-name-target": "tokuteiMeisho",
                                testid: "sake_tokutei_meisho",
                              }) %>
            </div>
            <div class="col-12 col-lg-3">
              <%= form.label(:seimai_buai, class: "form-label") %>
              <%= form.number_field(:seimai_buai,
                                    class: "form-control",
                                    aria: { describedby: "sakeSeimaiBuaiValidationFeedback" },
                                    data: { testid: "sake_seimai_buai" }) %>
              <% sake.errors.full_messages_for(:seimai_buai).each do |message| %>
                <div id="sakeSeimaiBuaiValidationFeedback" class="invalid-feedback"
                  data-testid="sake_seimai_buai_feedback">
                  <%= message %>
                </div>
              <% end %>
            </div>
          </div>
        </fieldset>
        <fieldset class="col">
          <div class="row g-2">
            <div class="col-12 col-lg-3">
              <%= form.label(:season, class: "form-label") %>
              <%= form.text_field(:season,
                                  class: "form-control",
                                  autocomplete: "on",
                                  list: "season-list",
                                  data: {
                                    "sake-name-target": "season",
                                    testid: "sake_season",
                                  }) %>
              <datalist id="season-list">
                <option value="新酒"></option>
                <option value="立春朝搾り"></option>
                <option value="夏酒"></option>
                <option value="ひやおろし"></option>
                <option value="秋あがり"></option>
                <option value="古酒"></option>
                <option value="通年酒"></option>
                <option value="限定酒"></option>
              </datalist>
            </div>
            <div class="col-12 col-lg-3">
              <%= form.label(:brewery_year, class: "form-label") %>
              <%= form.select(:brewery_year,
                              by_collection,
                              {},
                              class: "form-select",
                              data: { testid: "sake_brewery_year" }) %>
            </div>
            <div class="col-12 col-lg-3">
              <%= form.label(:bindume_on, class: "form-label") %>
              <%= form.select(:bindume_on,
                              bindume_collection,
                              {},
                              class: "form-select",
                              data: { testid: "sake_bindume_on" }) %>
            </div>
          </div>
        </fieldset>
        <fieldset class="col">
          <div class="row g-2 gx-3">
            <div class="col-12 col-lg-3">
              <%= form.label(:alcohol, class: "form-label") %>
              <%= form.number_field(:alcohol,
                                    step: "any",
                                    class: "form-control",
                                    aria: { describedby: "sakeAlcoholValidationFeedback" },
                                    data: { testid: "sake_alcohol" }) %>
              <% sake.errors.full_messages_for(:alcohol).each do |message| %>
                <div id="sakeAlcoholValidationFeedback" class="invalid-feedback" data-testid="sake_alcohol_feedback">
                  <%= message %>
                </div>
              <% end %>
            </div>
            <div class="col-12 col-lg-3" data-controller="sake-size">
              <%= form.label(:size, { class: "form-label" }) %>
              <div class="row row-cols-auto gy-2">
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="sake_size_check" id="sake_size_check_180"
                      data-sake-size-target="radio" data-sake-size="180"
                      data-action="sake-size#updateOtherSizeEnablement sake-size#writeHiddenByRadio">
                    <label class="form-check-label" for="sake_size_check_180">
                      180
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="sake_size_check" id="sake_size_check_300"
                      data-sake-size-target="radio" data-sake-size="300"
                      data-action="sake-size#updateOtherSizeEnablement sake-size#writeHiddenByRadio">
                    <label class="form-check-label" for="sake_size_check_300">
                      300
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="sake_size_check" id="sake_size_check_720"
                      data-sake-size-target="radio" data-sake-size="720"
                      data-action="sake-size#updateOtherSizeEnablement sake-size#writeHiddenByRadio">
                    <label class="form-check-label" for="sake_size_check_720">
                      720
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="sake_size_check" id="sake_size_check_1800"
                      data-sake-size-target="radio" data-sake-size="1800"
                      data-action="sake-size#updateOtherSizeEnablement sake-size#writeHiddenByRadio">
                    <label class="form-check-label" for="sake_size_check_1800">
                      1800
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <div class="form-check">
                        <input class="form-check-input me-2" type="radio" name="sake_size_check" id="sake_size_check_other"
                          data-sake-size-target="otherRadio" data-sake-size="other"
                          data-action="sake-size#updateOtherSizeEnablement sake-size#writeHiddenByRadio">
                        <label class="form-check-label" for="sake_size_check_other">
                          <%= t(".other_size") %>
                        </label>
                      </div>
                    </div>
                    <div class="col-auto col-lg">
                      <label class="visually-hidden" for="sake_size_other">
                        <%= t(".other_size") %>
                      </label>
                      <input class="form-control" type="number" min="0" autocomplete="off" disabled id="sake_size_other"
                        data-sake-size-target="otherSize" data-action="sake-size#writeHiddenWithOtherSize">
                    </div>
                  </div>
                </div>
              </div>
              <%= form.number_field(:size,
                                    hidden: true,
                                    required: true,
                                    class: "form-control",
                                    aria: { describedby: "sakeSizeValidationFeedback" },
                                    data: {
                                      "sake-size-target": "size",
                                      testid: "sake_size",
                                    }) %>
              <% sake.errors.full_messages_for(:size).each do |message| %>
                <div id="sakeSizeValidationFeedback" class="invalid-feedback" data-testid="sake_size_feedback">
                  <%= message %>
                </div>
              <% end %>
            </div>
            <div class="col-12 col-lg-3">
              <%= form.label(:price, { class: "form-label" }) %>
              <div class="input-group <%= "has-validation" if sake.errors.present? %>"
                data-controller="add-tax">
                <%= form.number_field(:price,
                                      class: "form-control",
                                      aria: { describedby: %w(sakeAddTax sakePriceValidationFeedback) },
                                      data: {
                                        "add-tax-target": "price",
                                        testid: "sake_price",
                                      }) %>
                <button type="button" id="sakeAddTax"
                  class="input-group-text btn btn-outline-primary"
                  data-add-tax-target="button" data-testid="sake_add_tax">
                  <%= t(".add_tax") %>
                </button>
                <% sake.errors.full_messages_for(:price).each do |message| %>
                  <div id="sakePriceValidationFeedback" class="invalid-feedback" data-testid="sake_price_feedback">
                    <%= message %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="col">
          <div class="row g-2">
            <div class="col-12 col-lg-3">
              <%= form.label(:bottle_level, class: "form-label") %>
              <%= form.select(:bottle_level,
                              Sake.bottle_levels_i18n.keys.map { |k|
                                [I18n.t("enums.sake.bottle_level.#{k}"), k]
                              },
                              {},
                              class: "form-select",
                              data: { testid: "sake_bottle_level" }) %>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
