<%= form_with(model: sake, local: true) do |form| %>

  <!-- error message -->
  <% if sake.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(sake.errors.count, "error") %>
        prohibited this sake from being saved:
      </h2>
      <ul>
        <% sake.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- form -->
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :kura %>
    <%= form.text_field :kura %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field">
    <%= form.label :bindume %>
    <%= form.datetime_select :bindume %>
  </div>

  <div class="field">
    <%= form.label :by %>
    <%= form.datetime_select :by %>
  </div>

  <div class="field">
    <%= form.label :product_of %>
    <%= form.text_field :product_of %>
  </div>

  <div class="field">
    <%= form.label :taste_int %>
    <%= form.number_field :taste_int %>
  </div>

  <div class="field">
    <%= form.label :aroma_int %>
    <%= form.number_field :aroma_int %>
  </div>

  <div class="field">
    <%= form.label :sake_metre_value %>
    <%= form.number_field :sake_metre_value %>
  </div>

  <div class="field">
    <%= form.label :acidity %>
    <%= form.number_field :acidity %>
  </div>

  <div class="field">
    <%= form.label :aroma_text %>
    <%= form.text_area :aroma_text %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :taste_text %>
    <%= form.text_area :taste_text %>
  </div>

  <div class="field">
    <%= form.label :is_namadume %>
    <%= form.check_box :is_namadume %>
  </div>

  <div class="field">
    <%= form.label :is_namacho %>
    <%= form.check_box :is_namacho %>
  </div>

  <div class="field">
    <%= form.label :nigori %>
    <%= form.text_field :nigori %>
  </div>

  <div class="field">
    <%= form.label :awa %>
    <%= form.text_field :awa %>
  </div>

  <div class="field">
    <%= form.label :tokutei_meisho %>
    <%= form.text_field :tokutei_meisho %>
  </div>

  <div class="field">
    <%= form.label :genryoumai %>
    <%= form.text_field :genryoumai %>
  </div>

  <div class="field">
    <%= form.label :kakemai %>
    <%= form.text_field :kakemai %>
  </div>

  <div class="field">
    <%= form.label :koubo %>
    <%= form.text_field :koubo %>
  </div>

  <div class="field">
    <%= form.label :alcohol %>
    <%= form.number_field :alcohol %>
  </div>

  <div class="field">
    <%= form.label :amino_acid %>
    <%= form.number_field :amino_acid %>
  </div>

  <div class="field">
    <%= form.label :aged %>
    <%= form.text_field :aged %>
  </div>

  <div class="field">
    <%= form.label :is_genshu %>
    <%= form.check_box :is_genshu %>
  </div>

  <div class="field">
    <%= form.label :moto %>
    <%= form.text_field :moto %>
  </div>

  <div class="field">
    <%= form.label :rice_polishing %>
    <%= form.number_field :rice_polishing %>
  </div>

  <div class="field">
    <%= form.label :roka %>
    <%= form.text_field :roka %>
  </div>

  <div class="field">
    <%= form.label :shibori %>
    <%= form.text_field :shibori %>
  </div>

  <div class="field">
    <%= form.label :bottle_state %>
    <%= form.select :bottle_state, Sake.bottle_states.keys.to_a %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
