<%# locals: (sake:) %>
<%= render(partial: "float_button", locals: { sake: }) %>

<%= form_with(model: sake, id: "sake-form") do |form| %>
  <%# error message %>
  <% flash.now.alert = t(".input_error") if sake.errors.any? %>
  <div class="accordion my-2" data-controller="sake-name">
    <%= render(partial: "form_abstract", locals: { sake:, form: }) %>
    <%= render(partial: "form_detail", locals: { sake:, form: }) %>
    <%= render(partial: "form_review", locals: { sake:, form: }) %>
    <%= render(partial: "form_note", locals: { sake:, form: }) %>
  </div>
<% end %>
