<% select_pack_js(%w[common sakes/form]) %>
<% select_pack_style(%w[common sakes/form]) %>

<%= render("float-button") %>

<%= form_with(model: sake, local: true, id: "sake-form") do |form| %>

  <%# error message %>
  <% if sake.errors.any? %>
    <% sake.errors.full_messages.each do |message| %>
      <% flash.now[:danger] = message %>
    <% end %>
  <% end %>

  <%# 表示義務ありのラベル情報 %>
  <div class="accordion my-2" id="accordionLabelInfo">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingLabelInfo">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLabelInfo"
          aria-expanded="true" aria-controls="collapseLabelInfo">
          <%= t(".labelinfo") %>
        </button>
      </h2>
      <div id="collapseLabelInfo" class="accordion-collapse collapse show" aria-labelledby="headingLabelInfo"
        data-bs-parent="#accordionLabelInfo">
        <div class="accordion-body">
          <div class="form-row">
            <%= form.label(:name, { class: "badged-form-label" }) %>
            <div class="form-badge">
              <span class="badge bg-primary"><%= t(".badge.presence") %></span>
            </div>
            <div class="col">
              <%= form.text_field(:name,
                                  class: "form-control",
                                  autocomplete: "off",
                                  "data-testid": "textfield-name") %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:kura, { class: "form-label" }) %>
            <div class="col">
              <input type="text" id="sake_kura_todofuken_autocompletion"
                data-testid="sake_kura_todofuken_autocompletion"
                class="form-control" autocomplete="on" list="sakagura">
              <%= render("sakagura-datalist") %>
            </div>
            <%= form.text_field(:kura, hidden: true, data: { testid: "sake_kura" }) %>
            <%= form.text_field(:todofuken, hidden: true, data: { testid: "sake_todofuken" }) %>
          </div>

          <div class="form-row">
            <%= form.label(:photos, { class: "form-label" }) %>
            <div class="col">
              <%= form.file_field(:photos,
                                  { multiple: true,
                                    class: "form-control col-12",
                                    accept: "image/*;capture=camera", }) %>
            </div>
          </div>

          <% if @sake.photos.any? %>
            <div class="row">
              <div class="form-label"></div>
              <div class="col">
                <div class="row mb-2">
                  <span class="form-text col-12">
                    <%= t(".select_delete_photo") %>
                  </span>
                  <% @sake.photos.each do |photo| %>
                    <div class="col-lg-4 col-6">
                      <div class="form-check form-check-inline select-delete-photos">
                        <%= check_box_tag(photo.chackbox_name,
                                          "delete",
                                          nil,
                                          { class: "form-check-input" }) %>
                        <label class="form-check-label" for="<%= photo.chackbox_name %>">
                          <%= cl_image_tag(photo.image.thumb.url, { class: "img-thumbnail" }) %>
                        </label>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

          <div class="form-row">
            <%= form.label(:alcohol, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.number_field(:alcohol,
                                    { step: "any", class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:tokutei_meisho, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.select(:tokutei_meisho,
                              Sake.tokutei_meishos_i18n.keys.map { |k|
                                [I18n.t("enums.sake.tokutei_meisho.#{k}"), k]
                              },
                              {},
                              { class: "form-select" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:seimai_buai, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.number_field(:seimai_buai, { class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:bindume_date, { class: "form-label" }) %>
            <%# HACK: 年と月の入力フォームを分けて横並びに配置する。 %>
            <%#       Railsデフォルトでは年月が縦並びになってしまう。%>
            <%#       そのため、2つフォームを設置してTSで同期する。 %>
            <div class="two-column-form">
              <%= select_year_with_japanese_era(latest_year: Date.current.year,
                                                selected: @sake.bindume_date&.year || Date.current.year,
                                                id: "bindume_year",
                                                name: "sake[bindume_date(1i)]",
                                                class: "form-select",
                                                data: { testid: "select_bindume_year" }) %>
            </div>
            <div class="two-column-form">
              <%= form.date_select(:bindume_date,
                                   { discard_day: true, discard_year: true },
                                   class: "form-select",
                                   data: { testid: "select_bindume_month" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:brew_year, { class: "form-label" }) %>
            <div class="two-column-form">
              <% current_by = to_by(Date.current).year %>
              <%= select_year_with_japanese_era(latest_year: current_by,
                                                selected: @sake.brew_year&.year,
                                                include_nil: t(".unknown"),
                                                id: "sake_brew_year_1i",
                                                name: "sake[brew_year(1i)]",
                                                class: "form-select",
                                                data: { testid: "select_by" }) %>
              <%# 使わない月日はBY始まりの7/1とする. See to_by %>
              <input type="hidden" id="sake_<%= :brew_year %>_2i" name="sake[<%= :brew_year %>(2i)]" value="7">
              <input type="hidden" id="sake_<%= :brew_year %>_3i" name="sake[<%= :brew_year %>(3i)]" value="1">
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:size, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.number_field(:size, { class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:price, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.number_field(:price, { class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:bottle_level, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.select(:bottle_level,
                              Sake.bottle_levels_i18n.keys.map { |k|
                                [I18n.t("enums.sake.bottle_level.#{k}"), k]
                              },
                              {},
                              { class: "form-select", "data-testid": "select-bottle-level" }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 表示義務なしのラベル情報 %>
  <div class="accordion my-2" id="accordionLabelInfoOption">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingLabelInfoOption">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseLabelInfoOption" aria-expanded="false" aria-controls="collapseLabelInfoOption">
          <%= t(".labelinfo_option") %>
        </button>
      </h2>
      <div id="collapseLabelInfoOption" class="accordion-collapse collapse"
        aria-labelledby="headingLabelInfoOption" data-bs-parent="#accordionLabelInfoOption">
        <div class="accordion-body">
          <div class="form-row">
            <%= form.label(:genryomai, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_field(:genryomai, class: "form-control", autocomplete: "on", list: "sakamai-list") %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:kakemai, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_field(:kakemai, class: "form-control", autocomplete: "on", list: "sakamai-list") %>
            </div>
          </div>

          <%= render("sakamai-datalist") %>

          <div class="form-row">
            <%= form.label(:kobo, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_field(:kobo, { class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:moto, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.select(:moto,
                              Sake.motos_i18n.keys.map { |k|
                                [I18n.t("enums.sake.moto.#{k}"), k]
                              },
                              {},
                              { class: "form-select" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:roka, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_field(:roka, { class: "form-control", autocomplete: "on", list: "roka-list" }) %>
              <datalist id="roka-list">
                <option value="無濾過"></option>
                <option value="素濾過"></option>
              </datalist>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:shibori, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_field(:shibori, { class: "form-control", autocomplete: "on", list: "shibori-list" }) %>
              <datalist id="shibori-list">
                <option value="ヤブタ式"></option>
                <option value="槽絞り"></option>
                <option value="袋吊り"></option>
                <option value="雫取り"></option>
                <option value="斗瓶取り"></option>
                <option value="斗瓶囲い"></option>
                <option value="荒走り"></option>
                <option value="あらばしり"></option>
                <option value="中取り"></option>
                <option value="中垂れ"></option>
                <option value="中汲み"></option>
                <option value="責め"></option>
                <option value="遠心分離"></option>
              </datalist>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:hiire, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.select(:hiire,
                              Sake.hiires_i18n.keys.map { |k|
                                [I18n.t("enums.sake.hiire.#{k}"), k]
                              },
                              {},
                              { class: "form-select", title: "test" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:warimizu, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.select(:warimizu,
                              Sake.warimizus_i18n.keys.map { |k|
                                [I18n.t("enums.sake.warimizu.#{k}"), k]
                              },
                              {},
                              { class: "form-select" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:season, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_field(:season, { class: "form-control", autocomplete: "on", list: "season-list" }) %>
              <datalist id="season-list">
                <option value="新酒"></option>
                <option value="立春朝搾り"></option>
                <option value="夏酒"></option>
                <option value="ひやおろし"></option>
                <option value="秋あがり"></option>
                <option value="古酒"></option>
                <option value="通年酒"></option>
                <option value="限定酒"></option>
              </datalist>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:nihonshudo, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.number_field(:nihonshudo, { step: "any", class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:sando, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.number_field(:sando, { step: "any", class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:aminosando, { class: "form-label" }) %>
            <div class="short-form">
              <%= form.number_field(:aminosando, { step: "any", class: "form-control" }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# 開けてから %>
  <div class="accordion my-2" id="accordionTasteInfo">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingLabelInfoOption">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseTasteInfo" aria-expanded="false" aria-controls="collapseTasteInfo">
          <%= t(".tasteinfo") %>
        </button>
      </h2>
      <div id="collapseTasteInfo" class="accordion-collapse collapse"
        aria-labelledby="headingTasteInfo" data-bs-parent="#accordionTasteInfo">
        <div class="accordion-body">
          <div class="form-row">
            <%= form.label(:rating, { class: "form-label" }) %>
            <div class="col">
              <div id="rater"></div>
              <%= form.number_field(:rating, hidden: true, class: "form-control", max: 5, min: 0, step: 1) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:color, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_field(:color, { class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:nigori, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_field(:nigori, { class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row ">
            <%= form.label("#{t('activerecord.attributes.sake.taste_value')}, #{t('activerecord.attributes.sake.aroma_value')}",
                           { class: "col-lg-3 col-7 col-form-label" }) %>
            <%# MEMO: px-0だとchart.jsのグラフが描画されない %>
            <div class="col-lg-9 col-12 px-1">
              <canvas id="taste_graph"></canvas>
              <%= form.number_field(:taste_value,
                                    hidden: true,
                                    min: 0,
                                    max: 6,
                                    step: 1,
                                    data: { taste_value: @sake.taste_value }) %>
              <%= form.number_field(:aroma_value,
                                    hidden: true,
                                    min: 0,
                                    max: 6,
                                    step: 1,
                                    data: { aroma_value: @sake.aroma_value }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:aroma_impression, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_area(:aroma_impression, { class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:taste_impression, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_area(:taste_impression, { class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:awa, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_field(:awa, { class: "form-control" }) %>
            </div>
          </div>

          <div class="form-row">
            <%= form.label(:note, { class: "form-label" }) %>
            <div class="col">
              <%= form.text_area(:note, { class: "form-control" }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
