<div class="col d-flex flex-column justify-content-between">
  <div>
    <% if sake.new_arrival? %>
      <span class="accent-text fs-5">
        <%= t(".new_arrival") %>
      </span>
    <% end %>
    <%= link_to(sake.name, sake_path(sake.id), class: "text-break text-decoration-none text-dark fs-2") %>
  </div>
  <div class="d-flex align-items-end justify-content-between">
    <% if sake.photos.any? %>
      <% photo = sake.photos.first %>
      <%= cl_image_tag(photo.image.thumb.url, class: "menu-img rounded") %>

    <% else %>
      <%= cl_image_tag(image_url("sake-no-photo.avif"), class: "menu-img img-thumbnail") %>
    <% end %>
    <div class="flex-grow-1 ms-5 text-end price-tag-border fs-4">
      <%= price_tag(sake.selling_price) %>
    </div>
  </div>
</div>
