<div class="col">
  <div class="card h-100">
    <div class="card-body py-2">
      <div class="row g-2">
        <div class="col-12">
          <div class="row align-items-start">
            <div class="col fs-5">
              <%= link_to(sake.name, sake_path(sake), class: "name-link") %>
            </div>
            <div class="col-auto pe-0">
              <div class="dropdown" data-testid="sake_buttons_<%= sake.id %>">
                <% id = "dropdownMenuSake#{sake.id}" %>
                <button class="btn dropdown-toggle py-0" type="button"
                  id="<%= id %>" data-bs-toggle="dropdown" aria-expanded="false"
                  data-testid="dropdown_toggle_<%= sake.id %>">
                  <i class="bi-three-dots-vertical fs-5 text-primary"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end fs-6" aria-labelledby="<%= id %>">
                  <li>
                    <%= link_to(tag.i(class: "bi-pencil-square") + t(".edit"),
                                edit_sake_path(sake)) %>
                  </li>
                  <%= render(partial: "drink_button", locals: { sake: }) %>
                </ul>
              </div>
            </div>
            <div class="col-12">
              <% if sake.kura.present? %>
                <%= short_kura(sake.kura) %> ‒ <%= short_todofuken(sake.todofuken) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# HACK: 名前の長さによって揃わない要素を、footerを使って揃える %>
    <div class="card-footer">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <% if sake.tokutei_meisho == "none" %>
                <%= t(".tokutei_meisho_none") %>
              <% else %>
                <%= sake.tokutei_meisho_i18n %>
              <% end %>
            </div>
            <div class="col-12">
              <%= sake.season %>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <%= sake.bottle_level_i18n %>
              <span class="text-muted">
                ‒ <%= t(".time_ago", count: time_ago_in_words(latest_at(sake))) %>
              </span>
            </div>
            <div class="col-12">
              <%= render(partial: "rating", locals: { rating: sake.rating }) %>
            </div>
          </div>
        </div>
        <div class="col-6 pe-4 align-self-center photo-gallery" data-controller="simple-lightbox">
          <% if sake.photos.any? %>
            <% image = sake.photos.first.image %>
            <%= link_to(cl_image_tag(image.thumb.url, class: "img-thumbnail img-fluid"), image.url) %>
          <% else %>
            <%= cl_image_tag(image_url("sake-no-photo.avif"), class: "img-thumbnail img-fluid") %>
          <% end %>
        </div>
        <div class="col-6 mt-1 ps-2">
          <div class="ratio ratio-1x1"
            data-controller="show-taste-graph"
            data-show-taste-graph-taste-value="<%= sake.taste_value %>"
            data-show-taste-graph-aroma-value="<%= sake.aroma_value %>">
            <canvas data-show-taste-graph-target="canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
