<h2 class="visually-hidden"><%= t(".daetail") %></h2>

<div class="row gx-3 gy-4">
  <div class="col-lg-4 col-12">
    <h3 class="mb-0">
      <%= t(".ingredient") %>
    </h3>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:genryomai) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-8 text-center <%= either_highlight_or_lowlight(@sake.genryomai) %>">
        <%= empty_to_default(@sake.genryomai, t(".unknown")) %>
      </div>
    </div>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:kakemai) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-8 text-center <%= either_highlight_or_lowlight(@sake.kakemai) %>">
        <%= empty_to_default(@sake.kakemai, t(".unknown")) %>
      </div>
    </div>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:seimai_buai) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-8 text-center <%= either_highlight_or_lowlight(@sake.seimai_buai) %>">
        <%= @sake.seimai_buai.present? ? "#{@sake.seimai_buai} %" : t(".unknown") %>
      </div>
    </div>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:kobo) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-8 text-center <%= either_highlight_or_lowlight(@sake.kobo) %>">
        <%= empty_to_default(@sake.kobo, t(".unknown")) %>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-12">
    <h3 class="mb-0">
      <%= t(".method") %>
    </h3>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:moto) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-8 text-center <%= either_highlight_or_lowlight(@sake.moto) %>">
        <%= @sake.moto_i18n %>
      </div>
    </div>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:roka) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-8 text-center <%= either_highlight_or_lowlight(@sake.roka) %>">
        <%= empty_to_default(@sake.roka, t(".unknown")) %>
      </div>
    </div>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:shibori) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-8 text-center <%= either_highlight_or_lowlight(@sake.shibori) %>">
        <%= empty_to_default(@sake.shibori, t(".unknown")) %>
      </div>
    </div>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:hiire) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-8 text-center <%= either_highlight_or_lowlight(@sake.hiire) %>">
        <%= @sake.hiire_i18n %>
      </div>
    </div>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:warimizu) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-8 text-center <%= either_highlight_or_lowlight(@sake.warimizu) %>">
        <%= @sake.warimizu_i18n %>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-12">
    <h3 class="mb-0">
      <%= t(".measurement") %>
    </h3>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:alcohol) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-5 text-end <%= either_highlight_or_lowlight(@sake.alcohol) %>">
        <%= @sake.alcohol.present? ? @sake.alcohol.truncate : t(".unknown") %>
      </div>
      <div class="col-3 px-0">
        <%= t("activerecord.attributes.sake.alcohol_unit") if @sake.alcohol.present? %>
      </div>
    </div>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:nihonshudo) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-5 text-end <%= either_highlight_or_lowlight(@sake.nihonshudo) %>">
        <%# 正の日本酒度には+記号を常につける %>
        <%= @sake.nihonshudo.present? ? format("%+.1f", @sake.nihonshudo) : t(".unknown") %>
      </div>
    </div>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:sando) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-5 text-end <%= either_highlight_or_lowlight(@sake.sando) %>">
        <%= empty_to_default(@sake.sando, t(".unknown")) %>
      </div>
    </div>
    <div class="row mx-0 border-bottom border-primary border-1 align-items-baseline">
      <div class="col-4 ps-0">
        <%= Sake.human_attribute_name(:aminosando) %>
        <span class="fs-5">　</span>
      </div>
      <div class="col-5 text-end <%= either_highlight_or_lowlight(@sake.aminosando) %>">
        <%= empty_to_default(@sake.aminosando, t(".unknown")) %>
      </div>
    </div>
  </div>
</div>
