<div class="row gy-3">
  <div class="col-12">
    <h2 class="fs-3 mb-0"><%= t(".review") %></h2>
  </div>

  <div class="col-12 fs-3" data-testid="rating">
    <%= render(partial: "rating", locals: { rating: sake.rating }) %>
  </div>

  <div class="col-12 mb-2">
    <div class="row gx-3 gy-1">
      <div class="col-lg-6 col-12">
        <div class="textbox">
          <div class="label">
            <%= Sake.human_attribute_name(:color) %>
          </div>
          <div class="text">
            <div class="box">
              <%= empty_to_default(sake.color, "　") %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="textbox">
          <div class="label">
            <%= Sake.human_attribute_name(:nigori) %>
          </div>
          <div class="text">
            <div class="box">
              <%= empty_to_default(sake.nigori, "　") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mb-lg-0 mb-1">
    <div class="row gx-3 gy-1">
      <div class="col-lg-6 order-lg-1 col-12 order-2">
        <div class="row gy-1">
          <div class="col-12">
            <div class="textbox">
              <div class="label">
                <p><%= Sake.human_attribute_name(:aroma_impression) %></p>
              </div>
              <div class="text">
                <div class="box">
                  <%= empty_to_default(sake.aroma_impression, "　") %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="textbox">
              <div class="label">
                <p><%= Sake.human_attribute_name(:taste_impression) %></p>
              </div>
              <div class="text">
                <div class="box">
                  <%= empty_to_default(sake.taste_impression, "　") %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="textbox">
              <div class="label">
                <%= Sake.human_attribute_name(:awa) %>
              </div>
              <div class="text">
                <div class="box">
                  <%= sake.awa %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2 col-12 order-1">
        <div class="ratio ratio-4x3"
          data-controller="show-taste-graph"
          data-show-taste-graph-taste-value="<%= sake.taste_value %>"
          data-show-taste-graph-aroma-value="<%= sake.aroma_value %>">
          <canvas data-show-taste-graph-target="canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
