<h2><%= t(".title") %></h2>

<%= form_with scope: :filter, url: filter_sakes_path, method: :get, local: true, class: "form-inline" do |f| %>
  <%= f.label "search", class: "sr-only" %>
  <%= f.text_field :word, placeholder: "Search", class: "form-control mb-2 mr-sm-2" %>

  <div class="form-check mb-2 mr-sm-2">
    <%= f.check_box :only_in_stock, class: "form-check-input" %>
    <%= f.label t("index.stocked"), class: "form-check-label" %>
  </div>

  <%= f.submit t("index.filter"), class: "btn btn-outline-secondary mb-2" %>
<% end %>

<table class="table table-hover table-bordered" caption="Sake List">
  <thead></thead>
  <tbody>
    <% @sakes.each do |sake| %>
      <tr class="row m-0 clickable" data-sake-id="<%= sake.id %>">
        <td class="col-lg-6 col-12">
          <div class="row m-0">
            <div class="col p-0">
              <%= sake.name %>
            </div>
          </div>
          <div class="row m-0 mt-2">
            <div class="col p-0">
              <%= sake.tokutei_meisho_i18n %>
            </div>
            <div class="col p-0">
              <%= sake.todofuken %>
            </div>
          </div>
          <div class="row m-0 mt-2">
            <div calss="col p-0">
              <%= sake.bottle_level_i18n %>
            </div>
          </div>
        </td>
        <!-- HACK: col-12だとグラフが無限に大きくなる -->
        <td class="col-lg-3 col-md-6 col-11">
          <canvas id="sake-<%= sake.id %>"
                    data-taste-value="<%= sake.taste_value %>"
                    data-aroma-value="<%= sake.aroma_value %>">
          </canvas>
        </td>
        <td class="col-lg-3 col-md-6 col-11">
          <canvas></canvas>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <%= link_to(t("helpers.submit.create"),
              new_sake_path,
              { class: "btn btn-outline-primary" }) %>
</div>

<%= javascript_pack_tag "clickable_sakeindex" %>
<%= javascript_pack_tag "taste_graph" %>
<%= javascript_pack_tag "index_graph" %>
