<% content_for(:pack_js) do %>
  <%= javascript_pack_tag("common", "sakes_index", "data-turbolinks-track": "reload") %>
<% end %>

<%= render("float-button") %>

<% include_empty = params.dig(:q, :bottle_level_not_eq) == bottom_bottle.to_s %>
<h1><%= title("#{t('.title')} - #{to_shakkan(Sake.alcohol_stock(include_empty: include_empty))}") %></h1>

<%= search_form_for(@searched, { class: "row my-2 align-items-center" }) do |f| %>
  <div class="col input-group">
    <%= f.label(:all_text_cont, "search word", class: "form-label visually-hidden") %>
    <%= f.search_field(:all_text_cont,
                       { class: "form-control",
                         value: params.dig(:q, :all_text_cont), }) %>
    <%= tag.button(tag.i(class: "bi-search"),
                   type: "submit",
                   class: "input-group-text btn btn-primary", "data-testid": "submit_search") %>
  </div>

  <div class="col-auto">
    <div class="form-check form-switch">
      <%= f.check_box(:bottle_level_not_eq,
                      { class: "form-check-input",
                        id: "all_bottle_level",
                        "data-testid": "check_empty_bottle",
                        onChange: "this.form.submit()", },
                      bottom_bottle,
                      Sake.bottle_levels["empty"]) %>
      <%= f.label(t(".all_bottles"),
                  { class: "form-check-label",
                    for: "all_bottle_level", }) %>
    </div>
  </div>

  <div class="col-lg mt-lg-0 col-12 mt-2">
    <div class="btn-group float-lg-end" role="group" aria-label="Sort">
      <%= sort_link(@searched,
                    :tokutei_meisho,
                    t("activerecord.attributes.sake.tokutei_meisho")) %>
      <%= sort_link(@searched,
                    :todofuken,
                    t("activerecord.attributes.sake.todofuken")) %>
      <%= sort_link(@searched,
                    :bottle_level,
                    t("activerecord.attributes.sake.bottle_level")) %>
      <%= sort_link(@searched,
                    :taste_value,
                    t("activerecord.attributes.sake.taste_impression"),
                    default_order: :desc) %>
      <%= sort_link(@searched,
                    :aroma_value,
                    t("activerecord.attributes.sake.aroma_impression"),
                    default_order: :desc) %>
    </div>
  </div>
<% end %>

<table class="table table-bordered" caption="Sake List">
  <thead></thead>
  <tbody>
    <% @sakes.each do |sake| %>
      <tr class="row m-0">
        <td class="col-lg-6 col-12">
          <div class="row m-0 border-bottom">
            <div class="col p-0">
              <%= link_to(sake.name, sake_path(sake), { class: "sakes-index-name-link" }) %>
            </div>
            <div class="col-auto">
              <%= link_to(tag.i(class: "bi-pencil-square me-2", style: "font-size: 1.05em;") + t(".edit"),
                          edit_sake_path(sake),
                          "data-testid": "sakes-index-edit-link") %>
            </div>
          </div>
          <div class="row m-0 mt-2 border-bottom">
            <div class="col p-0">
              <%= sake.tokutei_meisho_i18n %>
            </div>
            <div class="col p-0">
              <%= sake.todofuken %>
            </div>
          </div>
          <div class="row m-0 mt-2 border-bottom">
            <div class="col p-0" data-testid="bottle-level-<%= sake.id %>">
              <%= sake.bottle_level_i18n %>
              <%= render("drink-button", sake: sake) %>
            </div>
          </div>
        </td>
        <td class="col-lg-4 col-8 p-0">
          <canvas id="sake-<%= sake.id %>"
                  data-taste-value="<%= sake.taste_value %>"
                  data-aroma-value="<%= sake.aroma_value %>">
          </canvas>
        </td>
        <td class="col-lg-2 col-4 p-0" style="text-align: center">
          <%# HACK: サムネイル画像の縦横比は1:1である。 %>
          <%#       col-lg-2とcol-4のセルに、w-100で100%幅の画像がピッタリとなる。 %>
          <% if sake.photos.any? %>
            <%= cl_image_tag(sake.photos.first.image.thumb.url,
                             { class: "img-fulid w-100" }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@sakes) %>
