<p id="notice"><%= notice %></p>

<h1>日本酒リスト</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>蔵</th>
      <th>画像</th>
      <th>味</th>
      <th>香り</th>
      <th>特定名称</th>
    </tr>
  </thead>
  <tbody>
    <% @sakes.each do |sake| %>
      <tr>
        <td><%= sake.name %></td>
        <td><%= sake.kura %></td>
        <td><%= sake.photo %></td>
        <td><%= sake.taste_int %></td>
        <td><%= sake.aroma_int %></td>
        <td><%= sake.tokutei_meisho %></td>
        <td><%= link_to '詳細', sake %></td>
        <td><%= link_to '編集', edit_sake_path(sake) %></td>
        <td><%= link_to '削除', sake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '登録', new_sake_path %>
