<p id="notice"><%= notice %></p>

<h1>日本酒リスト</h1>

<%= form_with url: search_sakes_path, method: :get, local: true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit :search %>
<% end %>
<table>
  <thead>
    <tr>
      <th><%= @sakes.human_attribute_name :name %></th>
      <th><%= @sakes.human_attribute_name :kura %></th>
      <th><%= @sakes.human_attribute_name :photo %></th>
      <th><%= @sakes.human_attribute_name :taste_int %></th>
      <th><%= @sakes.human_attribute_name :aroma_int %></th>
      <th><%= @sakes.human_attribute_name :tokutei_meisho %></th>
    </tr>
  </thead>
  <tbody>
    <% @sakes.each do |sake| %>
      <tr>
        <td><%= sake.name %></td>
        <td><%= sake.kura %></td>
        <td><%= sake.photo %></td>
        <td><%= sake.taste_int %></td>
        <td><%= sake.aroma_int %></td>
        <td><%= sake.tokutei_meisho %></td>
        <td><%= link_to '詳細', sake %></td>
        <td><%= link_to '編集', edit_sake_path(sake) %></td>
        <td><%= link_to '削除', sake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '登録', new_sake_path %>
