<h1>日本酒リスト</h1>

<%= form_with scope: :filter, url: filter_sakes_path, method: :get, local: true do |f| %>
  <%= f.label :word %>
  <%= f.text_field :word %>
  <%= f.label :only_in_stock, class: "checkbox inline" do %>
    <%= f.check_box :only_in_stock %>
    <span>Only in stock</span>
  <% end %>
  <%= f.submit :filter %>
<% end %>
<table class="table table-sm table-hover">
  <thead class="thead-light">
    <tr>
      <th><%= @sakes.human_attribute_name :name %></th>
      <th><%= @sakes.human_attribute_name :kura %></th>
      <th><%= @sakes.human_attribute_name :photo %></th>
      <th><%= @sakes.human_attribute_name :taste_value %></th>
      <th><%= @sakes.human_attribute_name :aroma_value %></th>
      <th><%= @sakes.human_attribute_name :tokutei_meisho %></th>
    </tr>
  </thead>
  <tbody>
    <% @sakes.each do |sake| %>
      <tr class="clickable"
        onclick='window.location="/sakes/<%= sake.id.to_s %>"' role="link">
        <td><%= sake.name %></td>
        <td><%= sake.kura %></td>
        <td><%= sake.photo %></td>
        <td><%= sake.taste_value %></td>
        <td><%= sake.aroma_value %></td>
        <td><%= sake.tokutei_meisho_i18n %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row justify-content-center">
  <%= link_to(t("helpers.submit.create"),
              new_sake_path,
              { class: "btn btn-outline-primary" }) %>
</div>
