<% select_js("sakes_index") %>
<% select_css("sakes_index") %>

<%= render(partial: "float_button", locals: { sake: @sake }) %>

<div class="row row-cols-1 g-3">
  <div class="col">
    <h1 class="mb-0" data-testid="total_sake">
      <% with_search = title_with_search(params.dig(:q, :all_text_cont)) %>
      <% with_stock = title_with_stock(include_empty?(params[:q])) %>
      <%# ヘッダタイトルとページタイトル %>
      <%= title(with_search, with_stock) %>
    </h1>
  </div>
  <div class="col">
    <%= search_form_for(@search) do |f| %>
      <div class="row mx-0 align-items-center">
        <div class="col ps-0 input-group">
          <%= f.label(:all_text_cont, "search word", class: "form-label visually-hidden") %>
          <%= f.search_field(:all_text_cont,
                             class: "form-control",
                             value: params.dig(:q, :all_text_cont),
                             data: { testid: "text_search" }) %>
          <%= tag.button(tag.i(class: "bi-search"),
                         type: "submit",
                         class: "btn btn-primary",
                         data: { testid: "submit_search" }) %>
        </div>
        <div class="col-auto">
          <div class="form-check form-switch">
            <%= f.check_box(:bottle_level_not_eq,
                            { class: "form-check-input",
                              id: "all_bottle_level",
                              data: { testid: "check_empty_bottle" },
                              onChange: "this.form.submit()", },
                            bottom_bottle,
                            Sake.bottle_levels["empty"]) %>
            <%= f.label(t(".all_bottles"),
                        class: "form-check-label",
                        for: "all_bottle_level") %>
          </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block"></div>
      </div>
    <% end %>
  </div>
  <div class="col">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
      <%= render(partial: "sake", collection: @sakes) %>
    </div>
  </div>
  <% if include_empty?(params[:q]) %>
    <div class="col d-none d-sm-block">
      <%= paginate(@sakes) %>
    </div>
    <div class="col d-sm-none d-block">
      <%# 小さい画面 %>
      <%= paginate(@sakes, window: 1) %>
    </div>
  <% end %>
</div>
