<% select_js("sakes_index") %>
<% select_css("sakes_index") %>

<%= render("float-button") %>

<div class="row row-cols-1 g-3">
  <div class="col">
    <h1 class="mb-0">
      <%= title("#{t('.title')} - #{to_shakkan(Sake.alcohol_stock(include_empty: include_empty?(params)))}") %>
    </h1>
  </div>
  <div class="col">
    <%= search_form_for(@searched) do |f| %>
      <div class="row mx-0 align-items-center">
        <div class="col ps-0 input-group">
          <%= f.label(:all_text_cont, "search word", class: "form-label visually-hidden") %>
          <%= f.search_field(:all_text_cont,
                             class: "form-control",
                             value: params.dig(:q, :all_text_cont)) %>
          <%= tag.button(tag.i(class: "bi-search"),
                         type: "submit",
                         class: "btn btn-primary",
                         data: { testid: "submit_search" }) %>
        </div>
        <div class="col-auto">
          <div class="form-check form-switch">
            <%= f.check_box(:bottle_level_not_eq,
                            { class: "form-check-input",
                              id: "all_bottle_level",
                              data: { testid: "check_empty_bottle" },
                              onChange: "this.form.submit()", },
                            bottom_bottle,
                            Sake.bottle_levels["empty"]) %>
            <%= f.label(t(".all_bottles"),
                        class: "form-check-label",
                        for: "all_bottle_level") %>
          </div>
        </div>
        <div class="col-lg mt-lg-0 col-12 mt-3 px-0">
          <div class="btn-group float-lg-end" role="group" aria-label="Sort">
            <%= sort_link(@searched,
                          :tokutei_meisho,
                          t("activerecord.attributes.sake.tokutei_meisho")) %>
            <%= sort_link(@searched,
                          :todofuken,
                          t("activerecord.attributes.sake.todofuken")) %>
            <%= sort_link(@searched,
                          :bottle_level,
                          t("activerecord.attributes.sake.bottle_level")) %>
            <%= sort_link(@searched,
                          :taste_value,
                          t("activerecord.attributes.sake.taste_impression"),
                          default_order: :desc) %>
            <%= sort_link(@searched,
                          :aroma_value,
                          t("activerecord.attributes.sake.aroma_impression"),
                          default_order: :desc) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
      <% @sakes.each do |sake| %>
        <div class="col">
          <div class="card h-100">
            <div class="card-body py-2">
              <div class="row g-2">
                <div class="col-12">
                  <div class="row align-items-start">
                    <div class="col fs-5">
                      <%= link_to(sake.name, sake_path(sake), class: "name-link") %>
                    </div>
                    <div class="col-auto pe-0">
                      <div class="dropdown" data-testid="sake_buttons_<%= sake.id %>">
                        <% id = "dropdownMenuSake#{sake.id}" %>
                        <button class="btn dropdown-toggle py-0" type="button"
                          id="<%= id %>" data-bs-toggle="dropdown" aria-expanded="false"
                          data-testid="dropdown_toggle_<%= sake.id %>">
                          <i class="bi-three-dots-vertical fs-5 text-primary"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end fs-6" aria-labelledby="<%= id %>">
                          <li>
                            <%= link_to(tag.i(class: "bi-pencil-square") + t(".edit"),
                                        edit_sake_path(sake)) %>
                          </li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <%= render(partial: "drink-button", locals: { sake: }) %>
                        </ul>
                      </div>
                    </div>
                    <div class="col-12">
                      <% if sake.kura.present? %>
                        <%= short_kura(sake.kura) %> ‒ <%= short_todofuken(sake.todofuken) %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%# HACK: 名前の長さによって揃わない要素を、footerを使って揃える %>
            <div class="card-footer">
              <div class="row">
                <div class="col-7">
                  <div class="row">
                    <div class="col-12">
                      <% if sake.tokutei_meisho == "none" %>
                        <%= t(".tokutei_meisho_none") %>
                      <% else %>
                        <%= sake.tokutei_meisho_i18n %>
                      <% end %>
                    </div>
                    <div class="col-12">
                      <%= sake.season %>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="row">
                    <div class="col-12">
                      <%= t(".time_ago",
                            count: time_ago_in_words(latest_at(sake), include_seconds: true),
                            done: t(".#{sake.bottle_level}")) %>
                    </div>
                    <div class="col-12">
                      <%= render(partial: "rating", locals: { rating: sake.rating }) %>
                    </div>
                  </div>
                </div>
                <div class="col-7 mt-3">
                  <div class="ratio ratio-4x3">
                    <canvas id="sake-<%= sake.id %>"
                      data-taste-value="<%= sake.taste_value %>"
                      data-aroma-value="<%= sake.aroma_value %>">
                    </canvas>
                  </div>
                </div>
                <div class="col-5 mt-3 align-self-center">
                  <% if sake.photos.any? %>
                    <%= cl_image_tag(sake.photos.first.image.thumb.url, { class: "img-fulid img-thumbnail" }) %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if include_empty?(params) %>
    <div class="col d-none d-sm-block">
      <%= paginate(@sakes) %>
    </div>
    <div class="col d-sm-none d-block">
      <%# 小さい画面 %>
      <%= paginate(@sakes, window: 1) %>
    </div>
  <% end %>
</div>
