<h1>日本酒リスト</h1>

<%= form_with scope: :filter, url: filter_sakes_path, method: :get, local: true do |f| %>
  <%= f.label :word %>
  <%= f.text_field :word %>
  <%= f.label :only_in_stock, class: "checkbox inline" do %>
    <%= f.check_box :only_in_stock %>
    <span>Only in stock</span>
  <% end %>
  <%= f.submit :filter %>
<% end %>

<div class="table-responsive">
  <table class="table table-hover" caption="Sake List">
    <thead></thead>
    <tbody>
      <% @sakes.each do |sake| %>
        <tr class="clickable" data-sake-id="<%= sake.id %>">
          <td class="col-6">
            <div class="row">
              <div class="col table-string">
                <%= sake.name %>
              </div>
            </div>
            <div class="row">
              <div class="col table-string">
                <%= sake.tokutei_meisho_i18n %>
              </div>
              <div class="col table-string">
                <%= sake.todofuken %>
              </div>
            </div>
          </td>
          <td class="col-3 table-image">
            <canvas id="sake-<%= sake.id %>"
                    data-taste-value="<%= sake.taste_value %>"
                    data-aroma-value="<%= sake.aroma_value %>">
            </canvas>
          </td>
          <td class="col-3 table-image">
            <canvas></canvas>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row justify-content-center">
  <%= link_to(t("helpers.submit.create"),
              new_sake_path,
              { class: "btn btn-outline-primary" }) %>
</div>

<%= javascript_pack_tag "clickable_sakeindex" %>
<%= javascript_pack_tag "taste_graph" %>
<%= javascript_pack_tag "index_graph" %>
