<h2><%= t(".title") %></h2>

<%= render "sake-buttons" %>

<div class="row my-1">
  <div class="col">
    <%= search_form_for(@searched, { class: "form-inline" }) do |f| %>
      <%= f.search_field(:all_text_cont,
                         { class: "form-control mr-sm-2",
                           value: params.dig(:q, :all_text_cont) }) %>

      <div class="custom-control custom-switch ml-sm-2 mr-2">
        <%= f.check_box(:bottle_level_not_eq,
                        { class: "custom-control-input",
                          id: "all_bottle_level" },
                        bottom_bottle,
                        Sake.bottle_levels["empty"]) %>
        <%= f.label(t(".all_bottles"),
                    { class: "custom-control-label",
                      for: "all_bottle_level" }) %>
      </div>

      <%= f.submit({ class: "btn btn-secondary mx-2" }) %>
    <% end %>
  </div>

  <div class="col-md-6 col-12">
    <div class="btn-group float-md-right" role="group" aria-label="Sort">
      <%= sort_link(@searched,
                    :tokutei_meisho,
                    t("activerecord.attributes.sake.tokutei_meisho")) %>
      <%= sort_link(@searched,
                    :todofuken,
                    t("activerecord.attributes.sake.todofuken")) %>
      <%= sort_link(@searched,
                    :bottle_level,
                    t("activerecord.attributes.sake.bottle_level")) %>
    </div>
  </div>
</div>

<table class="table table-hover table-bordered" caption="Sake List">
  <thead></thead>
  <tbody>
    <% @sakes.each do |sake| %>
      <tr class="row m-0 clickable" data-sake-id="<%= sake.id %>">
        <td class="col-lg-6 col-12">
          <div class="row m-0 border-bottom">
            <div class="col p-0">
              <%= sake.name %>
            </div>
          </div>
          <div class="row m-0 mt-2 border-bottom">
            <div class="col p-0">
              <%= sake.tokutei_meisho_i18n %>
            </div>
            <div class="col p-0">
              <%= sake.todofuken %>
            </div>
          </div>
          <div class="row m-0 mt-2">
            <div calss="col p-0">
              <%= sake.bottle_level_i18n %>
            </div>
          </div>
        </td>
        <%# HACK: col-12だとグラフが無限に大きくなったりグラフが縮まなくなる --%>
        <td class="col-lg-3 col-md-6 col-11">
          <canvas id="sake-<%= sake.id %>"
                  data-taste-value="<%= sake.taste_value %>"
                  data-aroma-value="<%= sake.aroma_value %>">
          </canvas>
        </td>
        <td class="col-lg-3 col-md-6 col-12" style="text-align: center">
          <%# Hack: セルの縦横比が約2:1、サムネイル画像の縦横比が1:1である。 %>
          <%#       そこで、セルの50%幅を指定することでセルが縦長になるのを防ぐ %>
          <% if sake.photos.any? %>
            <%= cl_image_tag(sake.photos.first.image.thumb.url,
                             { class: "img-fulid", style: "width: 50%" }) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@sakes) %>

<%= javascript_pack_tag "sakes_index" %>
