<%= render(partial: "float_button", locals: { sake: @sake }) %>

<%= turbo_frame_tag("sakes", target: "_top", data: { turbo_action: :advance }) do %>
  <div class="row row-cols-1 g-3">
    <div class="col">
      <h1 class="mb-0" data-testid="total_sake">
        <% searched_word = params.dig(:q, :all_text_cont) %>
        <% if searched_word.present? then %>
          <%# 検索中タイトル %>
          <% header = t(".header_with_search", search: searched_word) %>
          <% hit = @sakes.length.to_s %>
          <% h1 = t(".h1_with_search", search: searched_word, hit:) %>
        <% else %>
          <%# 通常タイトル %>
          <% header = t(".header") %>
          <% include_empty = include_empty?(params[:q]) %>
          <% h1 = t(".h1_with_stock", stock: stock(include_empty)) %>
        <% end %>
        <%= title(header, h1) %>
      </h1>
    </div>
    <div class="col">
      <%= search_form_for(@search, html: { data: { turbo_frame: "sakes" } }) do |f| %>
        <div class="row mx-0 align-items-center">
          <div class="col ps-0 input-group">
            <%= f.label(:all_text_cont, "search word", class: "form-label visually-hidden") %>
            <%= f.search_field(
                  :all_text_cont,
                  class: "form-control",
                  value: params.dig(:q, :all_text_cont),
                  data: { testid: "text_search" },
                ) %>
            <%= tag.button(
                  tag.i(class: "bi-search"),
                  type: "submit",
                  class: "btn btn-primary",
                  data: { testid: "submit_search" },
                ) %>
          </div>
          <div class="col-auto">
            <div class="form-check form-switch">
              <%= f.checkbox(
                    :bottle_level_not_eq,
                    {
                      class: "form-check-input",
                      id: "all_bottle_level",
                      data: { testid: "check_empty_bottle" },
                      onChange: "this.form.submit()",
                    },
                    Sake::BOTTOM_BOTTLE,
                    Sake.bottle_levels["empty"],
                  ) %>
              <%= f.label(t(".all_bottles"), class: "form-check-label", for: "all_bottle_level") %>
            </div>
          </div>
          <div class="col-lg-4 d-none d-lg-block"></div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <div class="row row-cols-1 g-3">
        <div class="col">
          <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2" data-controller="simple-lightbox">
            <%= render(partial: "sake", collection: @sakes) %>
          </div>
        </div>
        <% if include_empty?(params[:q]) %>
          <div class="col" data-testid="pagination">
            <div class="d-none d-sm-block">
              <%= paginate(@sakes) %>
            </div>
            <div class="d-sm-none d-block">
              <%# HACK: 小さい画面用、表示する番号の数を少なくする
                #       kaminariを複雑にカスタムせず、2つのページネーションを生成する %>
              <%= paginate(@sakes, window: 1) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
