<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sake.name %>
</p>

<p>
  <strong>Kura:</strong>
  <%= @sake.kura %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @sake.photo %>
</p>

<p>
  <strong>Touroku:</strong>
  <%= @sake.touroku %>
</p>

<p>
  <strong>Bindume:</strong>
  <%= @sake.bindume %>
</p>

<p>
  <strong>By:</strong>
  <%= @sake.by %>
</p>

<p>
  <strong>Product of:</strong>
  <%= @sake.product_of %>
</p>

<p>
  <strong>Taste int:</strong>
  <%= @sake.taste_int %>
</p>

<p>
  <strong>Aroma int:</strong>
  <%= @sake.aroma_int %>
</p>

<p>
  <strong>Sake metre value:</strong>
  <%= @sake.sake_metre_value %>
</p>

<p>
  <strong>Acidity:</strong>
  <%= @sake.acidity %>
</p>

<p>
  <strong>Aroma text:</strong>
  <%= @sake.aroma_text %>
</p>

<p>
  <strong>Color:</strong>
  <%= @sake.color %>
</p>

<p>
  <strong>Taste text:</strong>
  <%= @sake.taste_text %>
</p>

<p>
  <strong>Is namadume:</strong>
  <%= @sake.is_namadume %>
</p>

<p>
  <strong>Is namacho:</strong>
  <%= @sake.is_namacho %>
</p>

<p>
  <strong>Nigori:</strong>
  <%= @sake.nigori %>
</p>

<p>
  <strong>Awa:</strong>
  <%= @sake.awa %>
</p>

<p>
  <strong>Tokutei meisho:</strong>
  <%= @sake.tokutei_meisho %>
</p>

<p>
  <strong>Genryoumai:</strong>
  <%= @sake.genryoumai %>
</p>

<p>
  <strong>Kakemai:</strong>
  <%= @sake.kakemai %>
</p>

<p>
  <strong>Koubo:</strong>
  <%= @sake.koubo %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @sake.alcohol %>
</p>

<p>
  <strong>Amino acid:</strong>
  <%= @sake.amino_acid %>
</p>

<p>
  <strong>Aged:</strong>
  <%= @sake.aged %>
</p>

<p>
  <strong>Is genshu:</strong>
  <%= @sake.is_genshu %>
</p>

<p>
  <strong>Moto:</strong>
  <%= @sake.moto %>
</p>

<p>
  <strong>Rice polishing:</strong>
  <%= @sake.rice_polishing %>
</p>

<p>
  <strong>Roka:</strong>
  <%= @sake.roka %>
</p>

<p>
  <strong>Shibori:</strong>
  <%= @sake.shibori %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @sake.memo %>
</p>

<%= link_to 'Edit', edit_sake_path(@sake) %> |
<%= link_to 'Back', sakes_path %>
