<h2><%= t ".title" %></h2>

<!-- ツイートボタン -->
<%= tweet_button make_text(@sake.name, @sake.kura, @sake.color, @sake.aroma_impression, @sake.taste_impression) %>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- 表示義務ありのラベル情報 -->
<h3 class="my-2"><%= t "helpers.subtitle.labelinfo" %></h3>

<div class="row">
  <div class="show-label">
    <b><%= Sake.human_attribute_name :name %></b>
  </div>
  <div class="show-body">
    <%= @sake.name %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :kura %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.kura %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :todofuken %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.todofuken %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :photos %></b>
  </div>
  <div class="show-body">
    <% @sake.photos.each do |photo| %>
      <%= link_to cl_image_tag(photo.image.thumb.url), show_photo_path(photo_id: photo) %>
    <% end %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :tokutei_meisho %></b>
  </div>
  <div class="show-body">
    <%= @sake.tokutei_meisho_i18n %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :seimai_buai %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.seimai_buai %> %
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :bindume_date %></b>
  </div>
  <div class="show-body">
    <%= @sake.bindume_date.strftime("%Y / %m") %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :brew_year %></b>
  </div>
  <div class="show-body">
    <%= @sake.brew_year.strftime("%Y") %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :size %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.size %> ml
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :alcohol %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.alcohol %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :price %></b>
  </div>
  <div class="show-body">
    <%= @sake.price.nil? ? "-" : @sake.price.to_s(:delimited) %>
    <%= t("activerecord.attributes.sake.price_unit") %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :genryomai %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.genryomai %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :kakemai %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.kakemai %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :kobo %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.kobo %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :moto %></b>
  </div>
  <div class="show-body">
    <%= @sake.moto_i18n %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :roka %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.roka %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :shibori %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.shibori %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :hiire %></b>
  </div>
  <div class="show-body">
    <%= @sake.hiire_i18n %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :season %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.season %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :nihonshudo %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.nihonshudo %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :sando %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.sando %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :aminosando %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.aminosando %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :warimizu %></b>
  </div>
  <div class="show-body">
    <%= @sake.warimizu_i18n %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :bottle_level %></b>
  </div>
  <div class="show-body">
    <%= @sake.bottle_level_i18n %>
  </div>
</div>

<!-- 開けてから -->
<h3 class="my-2"><%= t "helpers.subtitle.tasteinfo" %></h3>

<div class="row">
  <div class="show-label">
    <b><%= Sake.human_attribute_name :color %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.color %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :nigori %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.nigori %>
  </div>

  <div class="show-label">
    <b><%= "#{t('activerecord.attributes.sake.taste_value')}, #{t('activerecord.attributes.sake.aroma_value')}" %></b>
  </div>
  <div class="show-body">
    <canvas id="sake-<%= @sake.id %>"
            data-taste-value="<%= @sake.taste_value %>"
            data-aroma-value="<%= @sake.aroma_value %>">
    </canvas>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :aroma_impression %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.aroma_impression %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :taste_impression %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.taste_impression %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :awa %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.awa %>
  </div>

  <div class="show-label">
    <b><%= Sake.human_attribute_name :note %></b>
  </div>
  <div class="show-body">
    <%= empty_to_default @sake.note %>
  </div>

</div>

<div class="row justify-content-center">
  <%= link_to(t("helpers.submit.edit"),
              edit_sake_path(@sake),
              { class: "btn btn-outline-primary mx-2" }) %>
  <%= link_to(t("helpers.submit.delete"),
              @sake,
              method: :delete,
              data: { confirm: t("message.delete") },
              class: "btn btn-outline-danger mx-2") %>

</div>

<%= javascript_pack_tag "sakes_show" %>
