<% select_js("sakes_show") %>
<% select_pack_style(%w[common sakes/show]) %>

<%# ページのサムネイルをセット %>
<% set_meta_tags(og: { image: { _: @sake.photos.first.image.thumb.url, width: 600, height: 600 } }) if @sake.photos.any? %>

<%= render("float-button") %>

<div class="row gy-5">
  <div class="col-12">
    <%= render("show_abstract", sake: @sake) %>
  </div>

  <div class="col-12">
    <%= render("show_detail", sake: @sake) %>
  </div>

  <div class="col-12">
    <%= render("show_review", sake: @sake) %>
  </div>

  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= link_to(t(".delete"),
                    @sake,
                    method: :delete,
                    data: { confirm: t(".confirm_delete") },
                    class: "btn btn-danger") %>
      </div>
    </div>
  </div>
</div>
