<p>
  <strong><%= @sakes.human_attribute_name :name %>: </strong>
  <%= @sake.name %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :kura %>: </strong>
  <%= @sake.kura %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :photo %>: </strong>
  <%= @sake.photo %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :created_at %>: </strong>
  <%= @sake.created_at %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :bindume_date %>: </strong>
  <%= @sake.bindume_date %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :brew_year %>: </strong>
  <%= @sake.brew_year %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :todofuken %>: </strong>
  <%= @sake.todofuken %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :taste_value %>: </strong>
  <%= @sake.taste_value %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :aroma_value %>: </strong>
  <%= @sake.aroma_value %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :nihonshudo %>: </strong>
  <%= @sake.nihonshudo %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :sando %>: </strong>
  <%= @sake.sando %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :aroma_impression %>: </strong>
  <%= @sake.aroma_impression %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :color %>: </strong>
  <%= @sake.color %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :taste_impression %>: </strong>
  <%= @sake.taste_impression %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :hiire %>: </strong>
  <%= @sake.hiire_i18n %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :nigori %>: </strong>
  <%= @sake.nigori %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :awa %>: </strong>
  <%= @sake.awa %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :tokutei_meisho %>: </strong>
  <%= @sake.tokutei_meisho_i18n %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :genryoumai %>: </strong>
  <%= @sake.genryoumai %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :kakemai %>: </strong>
  <%= @sake.kakemai %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :kobo %>: </strong>
  <%= @sake.kobo %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :alcohol %>: </strong>
  <%= @sake.alcohol %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :aminosando %>: </strong>
  <%= @sake.aminosando %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :season %>: </strong>
  <%= @sake.season %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :warimizu %>: </strong>
  <%= @sake.warimizu_i18n %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :moto %>: </strong>
  <%= @sake.moto_i18n %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :seimai_buai %>: </strong>
  <%= @sake.seimai_buai %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :roka %>: </strong>
  <%= @sake.roka %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :shibori %>: </strong>
  <%= @sake.shibori %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :bottle_level %>: </strong>
  <%= @sake.bottle_level_i18n %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :price %>: </strong>
  <%= @sake.price %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :size %>: </strong>
  <%= @sake.size %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :note %>: </strong>
  <%= @sake.note %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :created_at %>: </strong>
  <%= @sake.created_at.strftime("%Y-%m-%d %H:%M") %>
</p>

<div class="row justify-content-center">
  <%= link_to(t("helpers.submit.edit"),
              edit_sake_path(@sake),
              { class: "btn btn-outline-primary" }) %>
  <%= link_to t("index.title"), sakes_path, class: "btn btn-outline-secondary" %>
  <%= link_to(t("helpers.submit.delete"),
              @sake,
              method: :delete,
              data: { confirm: t("message.delete") } ,
              class: "btn btn-outline-danger") %>

</div>
