<% select_js("sakes_show") %>
<% select_css("sakes_show") %>

<%# ページのサムネイルをセット %>
<% if @sake.photos.any? %>
  <% set_meta_tags(og: { image: { _: @sake.photos.first.image.large_twitter_card.url, width: 600, height: 300 } }) %>
<% end %>

<%= render(partial: "float-button", locals: { sake: @sake }) %>

<div class="row gy-5">
  <div class="col-12">
    <%= render(partial: "show_abstract", locals: { sake: @sake }) %>
  </div>

  <div class="col-12">
    <%= render(partial: "show_detail", locals: { sake: @sake }) %>
  </div>

  <div class="col-12">
    <%= render(partial: "show_review", locals: { sake: @sake }) %>
  </div>

  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= link_to(t(".delete"),
                    @sake,
                    method: :delete,
                    class: "btn btn-danger",
                    data: { confirm: t(".confirm_delete"), testid: "delete_sake" }) %>
      </div>
    </div>
  </div>
</div>
