<p id="notice"><%= notice %></p>

<p>
  <strong><%= @sakes.human_attribute_name :name %>: </strong>
  <%= @sake.name %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :kura %>: </strong>
  <%= @sake.kura %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :photo %>: </strong>
  <%= @sake.photo %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :created_at %>: </strong>
  <%= @sake.created_at %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :bindume %>: </strong>
  <%= @sake.bindume %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :by %>: </strong>
  <%= @sake.by %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :product_of %>: </strong>
  <%= @sake.product_of %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :taste_int %>: </strong>
  <%= @sake.taste_int %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :aroma_int %>: </strong>
  <%= @sake.aroma_int %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :sake_metre_value %>: </strong>
  <%= @sake.sake_metre_value %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :acidity %>: </strong>
  <%= @sake.acidity %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :aroma_text %>: </strong>
  <%= @sake.aroma_text %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :color %>: </strong>
  <%= @sake.color %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :taste_text %>: </strong>
  <%= @sake.taste_text %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :hiire_state %>: </strong>
  <%= @sake.hiire_state_i18n %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :nigori %>: </strong>
  <%= @sake.nigori %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :awa %>: </strong>
  <%= @sake.awa %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :tokutei_meisho %>: </strong>
  <%= @sake.tokutei_meisho %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :genryoumai %>: </strong>
  <%= @sake.genryoumai %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :kakemai %>: </strong>
  <%= @sake.kakemai %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :koubo %>: </strong>
  <%= @sake.koubo %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :alcohol %>: </strong>
  <%= @sake.alcohol %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :amino_acid %>: </strong>
  <%= @sake.amino_acid %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :aged %>: </strong>
  <%= @sake.aged %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :is_genshu %>: </strong>
  <%= @sake.is_genshu %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :moto %>: </strong>
  <%= @sake.moto %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :rice_polishing %>: </strong>
  <%= @sake.rice_polishing %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :roka %>: </strong>
  <%= @sake.roka %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :shibori %>: </strong>
  <%= @sake.shibori %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :bottle_state %>: </strong>
  <%= @sake.bottle_state_i18n %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :memo %>: </strong>
  <%= @sake.memo %>
</p>

<p>
  <strong><%= @sakes.human_attribute_name :created_at %>: </strong>
  <%= @sake.created_at.strftime("%Y-%m-%d %H:%M") %>
</p>

<%= link_to 'Edit', edit_sake_path(@sake) %> |
<%= link_to 'Back', sakes_path %>
