<h2><%= t(".change_your_password") %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="row form-group">
    <%= f.label :password, t(".new_password"), class: "devise-label" %>
    <div class="col">
      <%= f.password_field :password,
            autofocus: true,
            autocomplete: "new-password",
            placeholder: minimum_password_message(@minimum_password_length),
            class: "form-control" %>
    </div>
  </div>

  <div class="row form-group">
    <%= f.label :password_confirmation, t(".confirm_new_password"), class: "devise-label" %>
    <div class="col">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= f.submit t(".change_my_password"), class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
