<header>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-xxl">
      <%= link_to(image_tag("SAKAZUKI_choko.svg", { class: "sakazuki-logo" }) + "SAKAZUKI",
                  root_path,
                  { class: "navbar-brand d-flex align-items-center" },) %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to("Elasticsearch", elasticsearch_path, class: "nav-link") %>
          </li>
          <span class="border-bottom border-secondary"></span>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to(current_user.email, edit_user_registration_path, class: "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: "nav-link") %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to("Sign in", new_user_session_path, class: "nav-link", "data-testid": "sign-in") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
