<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= adsense_tags %>
    <%= stylesheet_link_tag("application", media: "all", "data-turbo-track": "reload") %>
    <%= javascript_include_tag("application", "data-turbo-track": "reload", defer: true) %>
  </head>

  <body>
    <%= render(partial: "layouts/header") %>
    <div class="container-xxl">
      <%= render(partial: "layouts/flashes") %>
      <%= yield %>
    </div>
    <%= render(partial: "layouts/footer") %>
    <% if Rails.env.development? %>
      <div class="py-5 bg-light">
        <%= debug(params) %>
      </div>
    <% end %>
  </body>
</html>
