<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(site: "SAKAZUKI",
                          title: title,
                          separator: "-",
                          reverse: true,
                          twitter: { card: "summary" },
                          og: { title: title }) %>

    <% if content_for?(:pack_style) %>
      <%= yield(:pack_style) %>
    <% else %>
      <%= stylesheet_pack_tag("common", media: "all", "data-turbolinks-track": "reload") %>
    <% end %>
    <% if content_for?(:pack_js) %>
      <%= yield(:pack_js) %>
    <% else %>
      <%= javascript_pack_tag("common", "data-turbolinks-track": "reload") %>
    <% end %>
  </head>

  <body>
    <%= render("layouts/header") %>
    <div class="container-xxl">
      <%= render("layouts/flashes") %>
      <%= yield %>
      <% if Rails.env.development? %>
        <%= tag.hr %>
        <%= debug(params) %>
      <% end %>
    </div>
    <%= render("layouts/footer") %>
  </body>
</html>
