<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= adsense_tags %>
    <%= stylesheet_link_tag "application" %>
    <%= yield(:css) if content_for?(:css) %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= yield(:js) if content_for?(:js) %>
  </head>

  <body>
    <%= render("layouts/header") %>
    <div class="container-xxl">
      <%= render("layouts/flashes") %>
      <%= yield %>
      <% if Rails.env.development? %>
        <%= tag.hr %>
        <%= debug(params) %>
      <% end %>
    </div>
    <%= render("layouts/footer") %>
  </body>
</html>
