<!DOCTYPE html>
<html>
  <head>
    <title>SAKAZUKI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= twitter_meta_tags %>

    <%= stylesheet_pack_tag("application", media: "all", "data-turbolinks-track": "reload") %>
    <%= javascript_pack_tag("application", "data-turbolinks-track": "reload") %>
  </head>

  <body>
    <%= render("layouts/header") %>
    <div class="container-xxl">
      <%= render("layouts/flashes") %>
      <%= yield %>
      <% if Rails.env.development? %>
        <%= tag.hr %>
        <%= debug(params) %>
      <% end %>
    </div>
  </body>
</html>
